<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OC Archive</title>
</head>
<body>
    <main class="container">
        <!-- this block takes from whichever page is being rendered -->
        {% block content %}
        {% endblock %}
        <!-- The base.html template is inherited by all other pages - changing something here will change it all over the site! -->
    </main>
    
</body>
</html>