{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Archiver ID</h3>
<p class="center-align">You'll need to create an Archiver ID to add your characters
     to the Archive - a name and special passcode that keeps your characters editable only
    by you.</p>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('id_gain') }}">
        <!-- user name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="user_name" name="user_name" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="user_name">Archiver ID:</label>
            </div>
        </div>
        <!-- password -->
        <div class="row">
            <div class="input-field col s12">
				<input type="password" id="user_password" name="user_password" class="validate" required>
				<label for="user_password">Password:</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn lighten-2">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}