{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ user.user_name }}</h3>

<h4 class="center-align">Characters</h4>

{% if chars %}
    <!-- displays all characters of the current user -->
    {% for char in chars %}
    <h5><a href="{{ url_for('character', char_id=char.id) }}">{{ char.char_name }}</a></h5>
    <p>{{ char.char_blurb }}</p>
    {% endfor %}
{% else %}
    <!-- Message displayed if the user has no characters -->
    <p>No characters created yet. <a href="{{ url_for('create_character') }}">Create a character</a>?</p>
{% endif %}

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('confirm_user_delete', user_id=current_user.id) }}" class="btn red accent-4">
            Hand In Archiver ID
        </a>
    </div>
</div>

{% endblock %}
